[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"

[dev-packages]
bumpversion = "*"
responses = "*"
pytest = "*"
tox = "*"
ipython = "*"
isort = "*"
pdbpp = "*"
mal-scraper = {editable = true, path = "."}

[requires]
